@model store.Models.ProductViewModel
@{
    ViewData["Title"] = Model.Name;
}
<h2>@Model.Name</h2>
<img src="@Url.Content(Model.ImagePath)" alt="@Model.Name" class="img-responsive" style="max-height:50vh" />
<p>@Model.Description</p>
<h3>@Model.Price.ToString("C")</h3>
<form method="post">
    <input type="hidden" name="id" value="@Model.ID" />
    <label for="quantity">How many would you like?</label>
    <select name="quantity" class="form-control">
        @for (int i = 1; i <= 10; i++)
        {
            <option value="@i">@i</option>
        }
    </select>
    <input type="submit" class="btn btn-primary" value="Add To Cart" />
</form>